*.pyc
__pycache__/
__pycache__/main.cpython-313.pyc
.venv/
env/
images/upload/
images/changed/
images/background/
images/upload/*.*
images/changed/*.*
images/background/*.*
__pycache__/main.cpython-313.pyc
video/changed/
video/changed/*.*
video/*.*
video/recorded/
video/recorded/*.*
video/snapshots/
video/snapshots/*.*


# images/upload/Sat Naing Tun-1x1.5.tif
# images/upload/Sat Naing Tun-photo.jpg
# images/upload/snt photo 2025.png
__pycache__/main.cpython-313.pyc
routers/__pycache__/
routers/__pycache__/*.*
routers/__pycache__/webcam.cpython-313.pyc
__pycache__/main.cpython-313.pyc
__pycache__/main.cpython-313.pyc
routers/__pycache__/webcam.cpython-313.pyc
__pycache__/main.cpython-313.pyc
__pycache__/main.cpython-313.pyc

